<!DOCTYPE html>
@{
    ViewBag.TrueName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" charset="utf-8" src="~/Content/js/ImgUp.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    <style type="text/css">
        .disabledbgcolor{
            background-color:whiteSmoke;
        }
    </style>
    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)
            //var BaseUrl = "/TF_LifeComments/";
            jQuery(document).ready(function () {
                DataGridSet();
                $('#ffUseCategory').combobox({
                    onChange: function (value) {
                        $("#ffOfficialDocOrRemarks").removeAttr("disabled");//批文
                        $("#ffTrueName").removeAttr("disabled");//名字
                        $("#ffSex").combobox("enable");//性别
                        $("#ffUnits").removeAttr("disabled");//所在单位
                        $("#ffCertificateCategory").combobox("enable");//证件类型
                        $("#ffCertificateNumber").removeAttr("disabled");//证件号码
                        $("#ffIdentityCardNumber").removeAttr("disabled");//身份证                       
                        $("#ffApproverUnit").removeAttr("disabled");//办理人单位
                        $("#ffApprover").removeAttr("disabled");//办理人
                        $("#ffContactInformation").removeAttr("disabled");//联系方式
                        $("#ffAprovalTime").removeAttr("disabled");//日期
                        $("#ffRemark").removeAttr("disabled");//备注

                        $("#ffOfficialDocOrRemarks").removeClass("disabledbgcolor");//批文
                        $("#ffTrueName").removeClass("disabledbgcolor");//名字
                        $("#ffSex").removeClass("disabledbgcolor");//性别
                        $("#ffUnits").removeClass("disabledbgcolor");//所在单位
                        $("#ffCertificateCategory").removeClass("disabledbgcolor");//证件类型
                        $("#ffCertificateNumber").removeClass("disabledbgcolor");//证件号码
                        $("#ffIdentityCardNumber").removeClass("disabledbgcolor");//身份证                       
                        $("#ffApproverUnit").removeClass("disabledbgcolor");//办理人单位
                        $("#ffApprover").removeClass("disabledbgcolor");//办理人
                        $("#ffContactInformation").removeClass("disabledbgcolor");//联系方式
                        $("#ffAprovalTime").removeClass("disabledbgcolor");//日期
                        $("#ffRemark").removeClass("disabledbgcolor");//备注


                        if (value == "1") {
                            //保管
                            $("#ffOfficialDocOrRemarks").attr("disabled", "disabled");
                            $("#ffApproverUnit").attr("disabled", "disabled");
                            $("#ffContactInformation").attr("disabled", "disabled");

                            $("#ffOfficialDocOrRemarks").addClass("disabledbgcolor");
                            $("#ffApproverUnit").addClass("disabledbgcolor");
                            $("#ffContactInformation").addClass("disabledbgcolor");
                        }
                        else if (value == "2") {
                            //领用
                            $("#ffSex").combobox("disable");
                            $("#ffUnits").attr("disabled", "disabled");

                            $("#ffSex").addClass("disabledbgcolor");
                            $("#ffUnits").addClass("disabledbgcolor");
                        }
                        else if (value == "3") {
                            //新增归还：只填名字、证件类型、证件号码、身份证号、办理人、日期；
                            $("#ffOfficialDocOrRemarks").attr("disabled", "disabled");
                            $("#ffCertificateCategory").combobox("disable");
                            $("#ffSex").combobox("disable");
                            $("#ffUnits").attr("disabled", "disabled");                              
                            $("#ffApproverUnit").attr("disabled", "disabled"); 
                            $("#ffContactInformation").attr("disabled", "disabled");
                            $("#ffRemark").attr("disabled", "disabled");

                            $("#ffOfficialDocOrRemarks").addClass("disabledbgcolor");
                            $("#ffCertificateCategory").addClass("disabledbgcolor");
                            $("#ffSex").addClass("disabledbgcolor");
                            $("#ffUnits").addClass("disabledbgcolor");
                            $("#ffApproverUnit").addClass("disabledbgcolor");
                            $("#ffContactInformation").addClass("disabledbgcolor");
                            $("#ffRemark").addClass("disabledbgcolor");
                        }
                        else if (value == "4") {
                            //退回
                            $("#ffSex").combobox("disable");
                            $("#ffUnits").attr("disabled", "disabled");
                            $("#ffCertificateNumber").attr("disabled", "disabled");

                            $("#ffSex").addClass("disabledbgcolor");
                            $("#ffUnits").addClass("disabledbgcolor");
                            $("#ffCertificateNumber").addClass("disabledbgcolor");
                        }
                    }
                });

                //  $('#ffUseCategory').bind('onChange', function (n, o) { alert(n); });
            })

            Date.prototype.Format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }


            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'Search',
                    columns: [[
                        { field: 'ck', checkbox: true },
                        {
                            field: 'UseCategory', title: '使用类型', width: 150, sortable: true, formatter: function (value, row, index) {
                                if (value == 1) {
                                    return "保管";
                                }
                                else if (value == 2) {
                                    return "领用";
                                }
                                else if (value == 3) {
                                    return "归还";
                                }
                                else if (value == 4) {
                                    return "退回";
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        { field: 'OfficialDocOrRemarks', title: '批文', width: 100, sortable: true },
                        { field: 'TrueName', title: '干部名字', width: 100, sortable: true },
                        {
                            field: 'Sex', title: '性别', width: 100, sortable: true, formatter: function (value, row, index) {
                                if (value == 1) {
                                    return "男";
                                }
                                else if (value == 0) {
                                    return "女";
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        { field: 'Units', title: '所在单位', align: "center", width: 140, sortable: true },
                        {
                            field: 'CertificateCategory', title: '证件类型', width: 100, sortable: true, formatter: function (value, row, index) {
                                if (value == 1) {
                                    return "护照";
                                }
                                else if (value == 2) {
                                    return "港澳通行证";
                                }
                                else if (value == 3) {
                                    return "台湾通行证";
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        { field: 'CertificateNumber', title: '证件号码', align: "center", width: 100, sortable: true },
                        { field: 'IdentityCardNumber', title: '身份证号码', align: "center", width: 100, sortable: true },
                        { field: 'ApproverUnit', title: '办理人单位', align: "center", width: 140, sortable: true },
                        { field: 'Approver', title: '办理人', align: "center", width: 100, sortable: true },
                        { field: 'ContactInformation', title: '联系方式', align: "center", width: 100, sortable: true },
                        {
                            field: 'AprovalTime', title: '日期', width: 120, sortable: true, formatter: function (value, row, index) {
                                if (value != null && value != "") {
                                    var pa = /.*\((.*)\)/;
                                    var unixtime = value.match(pa)[1].substring(0, 10);
                                    var currtime = new Date(unixtime * 1000);
                                    return currtime.Format("yyyy-MM-dd");
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        {
                            field: 'ApprovalStates', title: '状态', width: 100, sortable: true, formatter: function (value, row, index) {
                                if (value == -1) {
                                    return "未提交";
                                } else if (value == 0) {
                                    return "待审核";
                                }
                                else if (value == 1) {
                                    return "通过";
                                }
                                else if (value == 2) {
                                    return "不通过";
                                }
                            }
                        }
                    ]],
                    iconCls: 'icon-save',
                    title: '证件登记',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    toolbar: toolbars
                });
            }


            //添加
            function AddInfo() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加信息');
                $('#DivEditor1').dialog({
                    title: '证件登记',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 50,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                AutoMaxH("#Div_form1", 150)
                $(".validatebox-tip").remove();//清除验证样式
                DataBaseFunction.ClearForm("ff1");
            }

            //绑定修改显示详细信息的方法
            function EditInfo() {

                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                //var aprovalstatus = rows.States;
                //if (aprovalstatus != "-1") {
                //    $.messager.alert("友情提示", "此文件不可编辑", "error");
                //    return;
                //}

                $("#DivEditor").dialog('open').dialog('setTitle', '修改-' + rows.TrueName).window('resize', { top: 50 });
                $(".validatebox-tip").remove();//清除验证样式
                var ID = rows.Id;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        //var result = eval('(' + data + ')');
                        DataBaseFunction.BindForm("ff", data);
                        //$('#Category').combotree('setValue', data['Category']);
                        //$('#States').combobox('select', data.States);
                        //GetFileList(data.Id);//图片
                    }
                });
            }

            //实现的编辑，包括增查改
            function SaveInfo() {
                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }

                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'EditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");


                        var id = $("input[name='Id']").val();
                        if (id == "") {
                            id = data.Data;//id
                        }
                        Delfile();//删除移除的图片
                        SaveToid(id);//保存添加的图片
                    }
                });

            }

            //搜索
            function SearchGo() {
                DataBaseFunction.Search("fSearh", "dg");
                $("#Div_Searh").dialog('close');
            }
            //搜索
            function Search() {
                // $("#fSearh").form("clear");
                $('#States_eq').combobox('reload', '/httpHandle/DictionaryHandler.ashx?action=GetSysItem&ItemType=LifeCommentsStates');  // 使用新的URL重新载入列表数据
                $("#Div_Searh").dialog('open').dialog('setTitle', '搜索').window('resize', { top: 100, left: 100 });
            }
            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "Id", "TrueName");
            }


            //提交审核
            function submitApprove() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                var aprovalstatus = rows.ApprovalStates;
                if (aprovalstatus != "-1") {
                    $.messager.alert("友情提示", "此证件已经提交过", "error");
                    return;
                }
                $.messager.confirm("友情提示", "提交后不可在编辑，您确定现在提交审核吗？", function (r) {
                    if (r) {
                        var ID = rows.Id;
                        $.ajax({
                            url: BaseUrl + 'Approve',
                            type: 'POST',
                            data: { ID: ID, state: "0" },
                            cache: false,
                            error: function () { alert('Error $.ajax'); },
                            success: function (data) {
                                $.messager.alert("友情提示", data.Msg);
                                DataGridSet();
                            }
                        });
                    }
                });
            }

            function RefreshOP() {
                DataGridSet();
            }

            $.extend($.fn.validatebox.defaults.rules, {
                IdentityCardNumber: {// 验证身份证
                    validator: function (value) {
                        return /^\d{15}(\d{2}[A-Za-z0-9])?$/i.test(value);
                    },
                    message: '身份证号码格式不正确'
                }
            });
        </script>
    }

</head>
<body style="overflow-y: hidden">

    <table id="dg"></table>


    <!------------------------搜索弹出层---------------------------------->
    <div id="Div_Searh" class="easyui-dialog" style="width: 380px; padding: 10px 20px;"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="fSearh">

            <table class="stripes" style="table-layout: fixed; margin: 0 auto; width: 320px;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 100px;">
                        <label>使用类型：</label>
                    </td>
                    <td>
                        <select name="UseCategory_eq" class="easyui-combobox" style="width: 150px;">
                            <option value="">==请选择==</option>
                            <option value="1">保管</option>
                            <option value="2">领用</option>
                            <option value="3">归还</option>
                            <option value="4">退回</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <label>干部名字：</label>
                    </td>
                    <td>
                        <input class="textbox" type="text" name="TrueName_like" style="width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <label>证件类型：</label>
                    </td>
                    <td>
                        <select id="Sex" name="CertificateCategory_eq" class="easyui-combobox" style="width: 150px;">
                            <option value="">==请选择==</option>
                            <option value="1">护照</option>
                            <option value="2">港澳通行证</option>
                            <option value="3">台湾通行证</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <label>证件号码：</label>
                    </td>
                    <td>
                        <input class="textbox" type="text" maxlength="9" name="CertificateNumber_eq" style="width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <label>身份证号：</label>
                    </td>
                    <td>
                        <input class="textbox" type="text" maxlength="18" name="IdentityCardNumber_eq" style="width: 150px;" />
                    </td>
                </tr>
            </table>

        </form>
        <div style="text-align: center; width: 100%; margin: 5px 0px; display: block;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" style="float: left;" onclick=" DataBaseFunction.ClearForm('fSearh');">清除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-search" onclick="SearchGo();">搜索</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-cancel" onclick="$('#Div_Searh').dialog('close')">关闭</a>
        </div>
    </div>

    <!------------------------弹出信息的弹出层  添加&修改---------------------------------->
    <div id="DivEditor1" class="easyui-dialog" style="width: 800px;"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form1" class="easyui-panel" style="padding: 10px 20px; overflow-x: hidden;" data-options="height:520,width:780,border:false">
            <form id="ff1" method="post" enctype="multipart/form-data">
                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                    <input type="hidden" name="Id" />
                    <input type="hidden" name="CreateMan" />
                    <input type="hidden" name="CreateTime" />
                    <input type="hidden" name="UpdateTime" />
                    <input type="hidden" name="isValid" />
                    <input type="hidden" name="isDeleted" />
                    <tr>
                        <td style="width: 100px;">
                            <label>使用类型：</label>
                        </td>
                        <td>
                            <select id="ffUseCategory" name="UseCategory" class="easyui-combobox" style="width: 200px;" data-options="required:true">
                                <option value="1" selected="selected">保管</option>
                                <option value="2">领用</option>
                                <option value="3">归还</option>
                                <option value="4">退回</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>批文：</label>
                        </td>
                        <td>
                            <input id="ffOfficialDocOrRemarks" class="easyui-validatebox textbox" type="text" name="OfficialDocOrRemarks" style="width: 600px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>干部名字：</label>
                        </td>
                        <td>
                            <input id="ffTrueName" class="easyui-validatebox textbox" type="text" name="TrueName" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>性别：</label>
                        </td>
                        <td>
                            <select id="ffSex" name="Sex" class="easyui-combobox" style="width: 200px;">
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>所在单位：</label>
                        </td>
                        <td>
                            <input id="ffUnits" class="easyui-validatebox textbox" type="text" name="Units" style="width:600px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>证件类型：</label>
                        </td>
                        <td>
                            <select id="ffCertificateCategory" name="CertificateCategory" class="easyui-combobox" style="width: 200px;">
                                <option value="1">护照</option>
                                <option value="2">港澳通行证</option>
                                <option value="3">台湾通行证</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>证件号码：</label>
                        </td>
                        <td>
                            <input id="ffCertificateNumber" class="easyui-validatebox textbox" type="text" maxlength="9" name="CertificateNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>身份证号：</label>
                        </td>
                        <td>
                            <input id="ffIdentityCardNumber" class="easyui-validatebox textbox" type="text" maxlength="18" name="IdentityCardNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>办理人单位：</label>
                        </td>
                        <td>
                            <input id="ffApproverUnit" class="easyui-validatebox textbox" type="text" name="ApproverUnit" style="width: 600px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>办理人：</label>
                        </td>
                        <td>
                            <input id="ffApprover" class="easyui-validatebox textbox" type="text" name="Approver" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>联系方式：</label>
                        </td>
                        <td>
                            <input id="ffContactInformation" class="easyui-validatebox textbox" type="text" name="ContactInformation" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>日期：</label>
                        </td>
                        <td>
                            <input id="ffAprovalTime" class="easyui-datebox easyui-validatebox" type="text" style="width: 200px;" name="AprovalTime" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>备注：</label>
                        </td>
                        <td>
                            <textarea id="ffRemark" class="areabox" name="Remark" maxlength="250" style="height: 50px; width: 600px;"></textarea>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor1').dialog('close')">关闭</a>
        </div>
    </div>
</body>
</html>
