<!DOCTYPE html>
@{
    ViewBag.TrueName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" charset="utf-8" src="~/Content/js/ImgUp.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)
            //var BaseUrl = "/TF_LifeComments/";
            jQuery(document).ready(function () {
                DataGridSet();
            })

            Date.prototype.Format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }
            function GetUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) { return unescape(r[2]); } else {
                    return null;
                }
            }
            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'LoadCertificateDetail',
                    queryParams: { Idcard: GetUrlParam('idd') },
                    columns: [[                                              
                        { field: 'TrueName', title: '干部名字', width: 100, sortable: true },                        
                        { field: 'Units', title: '所在单位', align: "center", width: 140, sortable: true },
                        {
                            field: 'CertificateCategory', title: '证件类型', width: 100, sortable: true, formatter: function (value, row, index) {
                                if (value == 1) {
                                    return "护照";
                                }
                                else if (value == 2) {
                                    return "港澳通行证";
                                }
                                else if (value == 3) {
                                    return "台湾通行证";
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        { field: 'CertificateNumber', title: '证件号码', align: "center", width: 100, sortable: true }    
                    ]],
                    iconCls: 'icon-save',
                    title: '证件登记',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true
                });
            }

            function RefreshOP() {
                DataGridSet();
            }

            $.extend($.fn.validatebox.defaults.rules, {
                IdentityCardNumber: {// 验证身份证
                    validator: function (value) {
                        return /^\d{15}(\d{2}[A-Za-z0-9])?$/i.test(value);
                    },
                    message: '身份证号码格式不正确'
                }
            });
        </script>
    }

</head>
<body style="overflow-y: hidden">
    <table id="dg"></table>
</body>
</html>
