<!DOCTYPE html>
@{
    ViewBag.TrueName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" charset="utf-8" src="~/Content/js/ImgUp.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)

            jQuery(document).ready(function () {
                DataGridSet();
                $('#States').combobox('reload', '/httpHandle/DictionaryHandler.ashx?action=GetSysItem&ItemType=LifeCommentsStates');  // 使用新的URL重新载入列表数据
                FTypes = 1;//上传类型 1为文件 0 为图片
            })

            Date.prototype.Format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }

            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'Search',
                    columns: [[
                        { field: 'ck', checkbox: true },
                        { field: 'TrueName', title: '姓名', width: 150, sortable: true },
                        { field: 'Units', title: '单位', width: 100, sortable: true },
                        {
                            field: 'Duties', title: '职务', width: 100, sortable: true, formatter: function (value, row, index) {
                                return value;
                            }
                        },
                       {
                           field: 'CreateTime', title: '添加时间', width: 100, sortable: true, formatter: function (value, row, index) {
                               if (value != null && value != "") {
                                   var pa = /.*\((.*)\)/;
                                   var unixtime = value.match(pa)[1].substring(0, 10);
                                   var currtime = new Date(unixtime * 1000);
                                   return currtime.Format("yyyy-MM-dd hh:mm:ss");
                               }
                               else {
                                   return "";
                               }
                           }
                       },
                        { field: 'AprovalName', title: '审核状态', align: "center", width: 60, sortable: true },
                        {
                            field: 'Summary', title: '评语', width: 300, formatter: function (value, row, index) {
                                return value;
                            }
                        }
                    ]],
                    iconCls: 'icon-save',
                    title: '生平',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    toolbar: toolbars
                });
            }

            //绑定修改显示详细信息的方法
            function EditInfo() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                var aprovalstatus = rows.States;
                if (aprovalstatus == "2") {
                    $.messager.alert("友情提示", "此文件不可编辑", "error");
                    return;
                }

                $("#DivEditor").dialog('open').dialog('setTitle', '修改-' + rows.TrueName).window('resize', { top: 50 });
                $(".validatebox-tip").remove();//清除验证样式
                var ID = rows.Id;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        DataBaseFunction.BindForm("ff", data);
                        $('#States').combobox('select', data.States);
                        GetFileList(data.Id);//图片
                    }
                });
            }


            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var data = DataBaseFunction.GetFormData("ff")
                //发送异步请求到后台保存数据
                $.post(BaseUrl + 'EditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        $("#dg").datagrid("reload");

                        var id = $("input[name='Id']").val();
                        if (id == "") {
                            id = data.Data;//id
                        }
                        // Delfile();//删除移除的图片
                        SaveToid(id);//保存添加的图片
                    }
                });

            }

            //搜索
            function SearchGo() {
                DataBaseFunction.Search("fSearh", "dg");
                $("#Div_Searh").dialog('close');
            }
            //搜索

            function Search() {
                // $("#fSearh").form("clear");
                $('#States_eq').combobox('reload', '/httpHandle/DictionaryHandler.ashx?action=GetSysItem&ItemType=LifeCommentsStates');  // 使用新的URL重新载入列表数据
                $("#Div_Searh").dialog('open').dialog('setTitle', '搜索').window('resize', { top: 100, left: 100 });
            }

            function AddImg() {
                FileUp("TF_LifeComments");
            }

            function approveDoc() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                var aprovalstatus = rows.States;
                var url = "TF_LiftApprove/EditWebOffice?id=" + rows.Id + "&states=" + aprovalstatus;
                if (aprovalstatus == "2") {
                    $.messager.confirm("友情提示", "文件已审核通过，只能查看。确定要打开吗？", function (r) {
                        if (r) {
                            window.open(url, "_blank");
                        }
                        else {
                            return;
                        }
                    });
                }
                else {
                    var ID = rows.Id;
                    $.ajax({
                        url: BaseUrl + 'Approve',
                        type: 'POST',
                        data: { ID: ID, state: "1" },
                        cache: false,
                        error: function () { alert('Error $.ajax'); },
                        success: function (data) {
                            window.open(url, "_blank");
                        }
                    });
                }
            }

            function viewUserFile() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                var aprovalstatus = rows.States;
                var url = "TF_LifeComments/LifeWebOfficeDoc?id=" + rows.Id + "&states=" + aprovalstatus;
                window.open(url, "_blank");
            }

            //提交审核
            function passApprove() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                var aprovalstatus = rows.States;
                if (aprovalstatus == "2") {
                    $.messager.alert("友情提示", "此文件已经审核通过", "error");
                    return;
                }
                $.messager.confirm("友情提示", "审核通过后不可在编辑和审核，您确定审核通过吗？", function (r) {
                    if (r) {
                        var ID = rows.Id;  //获取到了用选择的ID
                        $.ajax({
                            url: BaseUrl + 'Approve',
                            type: 'POST',
                            data: { ID: ID, state: "2" },
                            cache: false,
                            error: function () { alert('Error $.ajax'); },
                            success: function (data) {
                                $.messager.alert("友情提示", data["Msg"], "info");
                                DataGridSet();
                            }
                        });
                    }
                });
            }

            function RefreshOP() {
                DataGridSet();
            }

            function ShowDetails() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                var aprovalstatus = rows.States;
                if (aprovalstatus == "2") {
                    $("#btnOK").hide();
                    $("#States").combobox('disable');
                    $('#TrueName').attr("disabled", "disabled");
                    $('#Units').attr("disabled", "disabled");
                    $('#Duties').attr("disabled", "disabled");
                    $('#Details').attr("disabled", "disabled");
                    $('#Summary').attr("disabled", "disabled");
                }
                else {
                    $("#btnOK").show();
                    var ID = rows.Id;  //设置为审核中
                    $.ajax({
                        url: BaseUrl + 'Approve',
                        type: 'POST',
                        data: { ID: ID, state: "1" },
                        cache: false,
                        error: function () { alert('Error $.ajax'); },
                        success: function (data) {

                        }
                    });
                }

                $("#DivEditor").dialog('open').dialog('setTitle', '修改-' + rows.TrueName).window('resize', { top: 50 });
                $(".validatebox-tip").remove();//清除验证样式
                var ID = rows.Id;  //获取到了用选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        DataBaseFunction.BindForm("ff", data);
                        $('#States').combobox('select', data.States);
                        GetFileList(data.Id);//图片
                    }
                });
            }
        </script>
    }

</head>
<body style="overflow-y: hidden">

    <table id="dg"></table>


    <!------------------------搜索弹出层---------------------------------->
    <div id="Div_Searh" class="easyui-dialog" style="width: 380px; padding: 10px 20px;"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="fSearh">

            <table class="stripes" style="table-layout: fixed; margin: 0 auto; width: 320px;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 60px;">
                        <label>名称：</label>
                    </td>
                    <td>
                        <input type="text" class="textbox" name="TrueName_like" style="width: 200px;" />
                    </td>

                </tr>
                <tr>
                    <td>
                        <label>职务：</label>
                    </td>
                    <td>
                        <input type="text" class="textbox" name="Duties_like" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>单位：</label>
                    </td>
                    <td>
                        <input type="text" class="textbox" name="Units_like" style="width: 200px;" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>状态：</label>
                    </td>
                    <td>
                        <input id="States_eq" class="easyui-combobox" name="States_eq"
                               data-options="valueField:'ItemValue',textField:'ItemName'" />
                    </td>
                </tr>
            </table>

        </form>
        <div style="text-align: center; width: 100%; margin: 5px 0px; display: block;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" style="float: left;" onclick=" DataBaseFunction.ClearForm('fSearh');">清除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-search" onclick="SearchGo();">搜索</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-cancel" onclick="$('#Div_Searh').dialog('close')">关闭</a>
        </div>
    </div>

    <!------------------------弹出信息的弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 900px;"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 20px; overflow-x: hidden;" data-options=" height:600,width:880,border:false">
            <form id="ff" method="post" enctype="multipart/form-data">
                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                    <input type="hidden" name="Id" />
                    <input type="hidden" name="CreateMan" />
                    <input type="hidden" name="CreateTime" />
                    <input type="hidden" name="UpdateTime" />
                    <input type="hidden" name="isValid" />
                    <input type="hidden" name="isDeleted" />
                    <tr>
                        <td style="width: 100px;">
                            <label>姓名：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="TrueName" id="TrueName" data-options="required:true" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>单位：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Units" id="Units" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>职务：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Duties" id="Duties" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>详情：</label>
                        </td>
                        <td>
                            <textarea class="areabox" name="Details" id="Details" style="height: 400px; width: 600px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>评语：</label>
                        </td>
                        <td>
                            <textarea class="areabox" name="Summary" id="Summary" style="height: 100px; width: 600px;"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>状态：</label>
                        </td>
                        <td>
                            <input id="States" class="easyui-combobox" name="States"
                                   data-options="valueField:'ItemValue',textField:'ItemName'" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>附件：</label>
                        </td>
                        <td>
                            <div style="display: none">
                                <div id="content" style="display: block; width: 450px; float: left;margin-top:2px;">
                                    <input id="fileId" type="hidden" />
                                    <a href="/Content/js/ImgUp.js" target="_blank" id="aflie"></a>
                                </div>
                            </div>
                            <div id="zhi" style="display: block; width: 450px;">
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" id="btnOK" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>
</body>
</html>
