@model ESUI.Models.LoginModel
<!DOCTYPE html>
@{
    ViewBag.TName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    <style>
        *{
            font-size:14px;
        }
        .easyui-combobox{
            width:240px;
             height:20px;
              font-size:14px;
            padding:3px;
        }
        .easyui-textbox{
            width:240px;
            height:20px;
            font-size:14px;
            padding:3px;
        }
    </style>

    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)

            var BaseUrl = "/Register/";
            jQuery(document).ready(function () {
                BindDepertment();

            });

            var aCity = { 11: "北京", 12: "天津", 13: "河北", 14: "山西", 15: "内蒙古", 21: "辽宁", 22: "吉林", 23: "黑龙江", 31: "上海", 32: "江苏", 33: "浙江", 34: "安徽", 35: "福建", 36: "江西", 37: "山东", 41: "河南", 42: "湖北", 43: "湖南", 44: "广东", 45: "广西", 46: "海南", 50: "重庆", 51: "四川", 52: "贵州", 53: "云南", 54: "西藏", 61: "陕西", 62: "甘肃", 63: "青海", 64: "宁夏", 65: "新疆", 71: "台湾", 81: "香港", 82: "澳门", 91: "国外" }

            function isCardID(sId) {
                var iSum = 0;
                var info = "";
                if (!/^\d{17}(\d|x)$/i.test(sId)) return "你输入的身份证长度或格式错误";
                sId = sId.replace(/x$/i, "a");
                if (aCity[parseInt(sId.substr(0, 2))] == null) return "你的身份证地区非法";
                sBirthday = sId.substr(6, 4) + "-" + Number(sId.substr(10, 2)) + "-" + Number(sId.substr(12, 2));
                var d = new Date(sBirthday.replace(/-/g, "/"));
                if (sBirthday != (d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate()))
                    return "身份证上的出生日期非法";
                for (var i = 17; i >= 0; i--)
                    iSum += (Math.pow(2, i) % 11) * parseInt(sId.charAt(17 - i), 11);
                if (iSum % 11 != 1)
                    return "你输入的身份证号非法";
                return true;//aCity[parseInt(sId.substr(0,2))]+","+sBirthday+","+(sId.substr(16,1)%2?"男":"女")
            }

            $.extend($.fn.validatebox.defaults.rules, {
                equalTo: {
                    validator: function (value, param) {
                        return $(param[0]).val() == value;
                    },
                    message: '字段不匹配'
                },
            });

            $.extend($.fn.validatebox.defaults.rules, {
                idcared: {
                    validator: function (value, param) {
                        var flag = isCardID(value);
                        return flag == true ? true : false;
                    },
                    message: '不是有效的身份证号码'
                }
            });



            //实现的编辑，包括增查改
            function submitForm() {
                //判断按钮的信息是否通过验证
                var validate = $("#ff").form('validate');

                if (validate == false) {
                    return false;
                }

                var curUser = $("#TrueName").val();

                //获取需要传递的参数传递给前台 push
                var postData = $("#ff").serializeArray();

                //发送异步请求到后台保存按钮数据
                $.post(BaseUrl + 'NewRegister', postData, function (data) {
                    if (data.Code > 0) {
                        $.messager.confirm("友情提示", curUser + " 注册成功，请重新登录，点击确定就转回登录界面？", function (r) {
                            if (r) {
                                window.open("/Login/Index", "_self");
                            }
                            else {
                                return;
                            }
                        });
                    }
                    else {
                        $.messager.alert("友情提示", "注册失败:" + data.Msg, "error");
                    }
                });
            }

            function login() {
                var _uid = $("#LoginName").val(), _pwd = $("#Password").val();

                $.ajax({
                    url: BaseUrl + 'RegLogin',
                    type: 'POST',
                    data: { uid: _uid, pwd: _pwd },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {

                    }
                });
            }

            function clearForm() {
                $('#ff').form('clear');
            }

            function BindDepertment() {
                $('#DepartmentId').combobox('reload', '/httpHandle/DictionaryHandler.ashx?action=GetDepartment');  // 使用新的URL重新载入列表数据
            }

            function login() {

            }
        </script>
    }

</head>
<body>
    <div style="margin:10% auto;width:450px;text-align:center;font-size:14px;">
        <div class="easyui-panel" title="新用户注册" style="min-width:400px;">
            <form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
                <table cellpadding="5" style="border:none;">
                    <tr>
                        <td style="width:80px;">用户名:</td>
                        <td style="width:240px;"><input class="easyui-validatebox easyui-textbox" type="text" id="LoginName" name="LoginName" data-options="required:true" /></td>
                    </tr>
                    <tr>
                        <td>姓名:</td>
                        <td><input class="easyui-validatebox easyui-textbox" type="text" name="TrueName" id="TrueName" data-options="required:true" /></td>
                    </tr>
                    <tr>
                        <td>身份证号:</td>
                        <td><input class="easyui-validatebox easyui-textbox" type="text" id="IdCard" name="IdCard" data-options="required:true,validType:'idcared'" /></td>
                    </tr>
                    <tr>
                        <td>选择单位:</td>
                        <td>
                            <input id="DepartmentId" class="easyui-combobox" height="20" name="DepartmentId"
                                   data-options="valueField:'Id',textField:'TName'" />
                        </td>
                    </tr>
                    <tr>
                        <td>密码:</td>
                        <td><input class="easyui-validatebox easyui-textbox" type="password" id="Password" name="Password" data-options="required:true" /></td>
                    </tr>
                    <tr>
                        <td>确认密码:</td>
                        <td><input class="easyui-validatebox easyui-textbox" type="password" name="ConfirmPassword" data-options="required:true" validType="equalTo['#Password']" invalidMessage="两次输入密码不匹配" /></td>
                    </tr>
                </table>
            </form>
            <div style="text-align:center;padding:5px">
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">重置</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()">注册</a>
            </div>
        </div>
    </div>
</body>
</html>
