<!DOCTYPE html>
@{
    ViewBag.TName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    <script src="~/Content/js/json2.js"></script>

    <style>
        /*表单样式 start*/
        .tableStyle {
            border: solid #E1E1E1;
            border-width: 1px 0px 0px 1px;
        }

        .trStyle {
            height: 20px;
            line-height: 20px;
            background: #E1E1E1;
        }

        /* css注释：默认css背景被白色 */
        .tdStyle {
            height: 20px;
            line-height: 20px;
            background: #FFF;
            vertical-align: middle;
            border: solid #E1E1E1;
            border-width: 0px 1px 1px 0px;
            padding: 5px 10px;
        }


        /* css 注释：默认隔行背景颜色 */
        .altTd {
            background: #F9F9F9;
        }

        /* css注释：鼠标经过时候背景颜色 */
        .overTd {
            background: #EFF4F7;
        }

        /*表单样式 end*/


        /*table细边框 end*/
        .border-table {
            border-collapse: collapse;
            border: none;
        }

            .border-table td {
                border: solid #000 1px;
                padding: 5px 15px;
            }
        /*table细边框 end*/
    </style>


    <!--步骤条 star-->
    <link href="~/Content/jquery-step/css/jquery.step.css" rel="stylesheet" />
    <script src="~/Content/jquery-step/js/jquery.step.js"></script>
    <!--步骤条 end-->

    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)

            var CurrentList;
            var step;
            jQuery(document).ready(function () {

                CurrentList = new Array();//当前选择的
                DataGridCheck.dataGridSelecttor = '#tblist';
                step = $("#myStep").step({
                    animate: true,
                    initStep: 1,
                    speed: 1000
                });
                $('#TransmittingTime').datetimebox('setValue', '9999');
                $(".validatebox-tip").remove();//清除验证样式
                PersonnelFile_Units();

            })




            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#f1").form('validate');
                if (validate == false) {
                    return false;
                }
                //判断的信息是否通过验证
                var validate2 = $("#f2").form('validate');
                if (validate2 == false) {
                    return false;
                }

                var data = DataBaseFunction.GetFormData("f1");
                var data2 = DataBaseFunction.GetFormData("f2");
                for (var i = 0; i < data2.length; i++) {

                    data.push(data2[i]);
                }

                var ItemList = getTableData();//项

                var jsonstr = JSON.stringify(ItemList);
                var FistName = {
                    name: "FistName",
                    value: jsonstr

                }
                data.push(FistName);
                //  发送异步请求到后台保存数据
                $.post(BaseUrl + 'ScatteredEditInfo', data, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {

                        window.setTimeout("window.parent.closeC()", 1500);//关闭当前页面
                    }
                });

            }


            //搜索
            function Search() {
                DataBaseFunction.Search("ftblist", "tblist");
            }

            function PersonnelFile_Units() {
                $('#tblist').datagrid({
                    url: BaseUrl + 'PersonnelFile_Units',
                    columns: [[
                          { field: 'ck', checkbox: true },
                  { field: 'RealName', title: '档案姓名', width: 100, sortable: true },

              { field: 'Duties', title: '所在单位职务', width: 100, sortable: true },
              { field: 'PersonalStatus', title: '状态', width: 100, sortable: true },
              { field: 'TankNo', title: '柜号', width: 100, sortable: true },
             { field: 'LayerNo', title: '层号', width: 100, sortable: true },
              { field: 'SerialNumber', title: '序号', width: 100, sortable: true },
              { field: 'ArchivesVolumes', title: '档案卷数', width: 100, sortable: true },

              { field: 'Remark', title: '备注', width: 100, sortable: true }
                    ]],
                    iconCls: 'icon-save',
                    title: '可用的档案',
                    nowrap: true,
                    fitColumns: true,
                    //singleSelect: true,
                    striped: true,
                    collapsible: true,
                    width: 720,
                    height: 580,
                    pageSize: 10,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    idField: 'Id',
                    view: fileview,
                    onCheck: DataGridCheck.addcheckItem,//选中事件
                    onCheckAll: DataGridCheck.addcheckItem,//选择当前页全部
                    onUncheck: DataGridCheck.removeSingleItem,//取消选择事件
                    onUncheckAll: DataGridCheck.removeAllItem//取消当前页选择事件
                });
                var fileview = $.extend({}, $.fn.datagrid.defaults.view, { onAfterRender: function (target) { DataGridCheck.SetcheckItem(); } });
            }


            function nextGo() {
                step.nextStep();
                createList(DataGridCheck.checkedItems);
                $('#DepartmentId').combobox({
                    url: "/TF_Units/GetAllInfo"


                });

            }

            function createList(datas) {

                $("#SelectList").empty();

                var result = ' <tr> <td style="width: 80px;">姓名</td><td style="width: 120px;">原单位务</td><td style="width: 50px;">正本(卷)</td><td style="width: 50px;">副本(卷)</td><td style="width: 50px;">档案材料(份)</td></</tr>';
                for (var i = 0; i < datas.length; i++) {
                    result += '<tr id="' + datas[i].Id + '" >'
                    result += "<td>" + datas[i].RealName + "</td>";
                    //                    result += "<td>" + datas[i].Units + "</td>";
                    result += "<td>" + datas[i].Duties + "</td>";
                    //                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 200px;" type="text" name="Reasons" /></td>';
                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 50px;" type="text" name="OriginalCount" /></td>';
                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 50px;" type="text" name="DuplicateCount" /></td>';
                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 50px;" type="text" name="MaterialCount" /></td>';

                    result += "</tr>"
                }
                $("#SelectList").append(result);

            }

            function getTableData() {
                var data = new Array();//当前选择的
                var trList = $("#SelectList").children("tr")
                for (var i = 1; i < trList.length; i++) {//第二项开始
                    var items = new Object();;
                    items.PersonnelFileId = trList.eq(i).attr("id");

                    var tdArr = trList.eq(i).find("td");
                    items.RealName = tdArr.eq(0).html();//名称
                    //                    items.Units = tdArr.eq(1).html();//单位
                    items.Duties = tdArr.eq(1).html();//职位
                    //                    items.Reasons = tdArr.eq(3).find("input").val();//
                    items.OriginalCount = tdArr.eq(2).find("input").val();//    
                    items.DuplicateCount = tdArr.eq(3).find("input").val();//    
                    items.MaterialCount = tdArr.eq(4).find("input").val();//    

                    data.push(items);
                }

                return data;
            }
        </script>
    }

</head>
<body>
    <div class="step-body" id="myStep">
        <div class="step-header" style="width: 80%">
            <ul>
                <li>
                    <p>选择档案</p>
                </li>
                <li>
                    <p>登记</p>
                </li>
            </ul>
        </div>
        <div class="step-content">
            <div class="step-list">

                <form id="ftblist">
                    <table class="tableStyle" style="table-layout: fixed; margin: 0 auto; width: 740px;" border="0" cellspacing="0" cellpadding="0">
                        <tr class="trStyle">
                            <td class="tdStyle altTd"><span>关键词:</span>
                                <input class="easyui-validatebox textbox" type="text" name="RealName|Units|Duties_like" />
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="Search();">搜索</a></td>

                        </tr>
                        <tr class="trStyle">
                            <td class="tdStyle">
                                <table id="tblist"></table>
                            </td>
                        </tr>
                        <tr class="trStyle">
                            <td class="tdStyle" style="text-align: center">

                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-arrow_right" onclick="nextGo()">下一步</a>

                            </td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="step-list">
                <div class="footer-btn">
                    <table style="table-layout: fixed; margin: 0 auto; width: 720px;" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td > 
                                 <form id="f1">
                                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="width:100px;">
                                                <label>转递单号：</label></td>
                                            <td style="width:120px;">
                                                <input class="easyui-validatebox textbox" style="width:100px;" data-options="required:true"  type="text" name="Series" /></td>
                                            <td style="width:20px;">
@*                                                <label>号：</label>*@

                                            </td>
                                            <td style="width:660px;">
@*                                                <input class="easyui-validatebox textbox" style="width: 100px;" data-options="required:true" type="text" name="Nos"/>*@

                                            </td>
                                        </tr>
                                </table>
                                </form>
                                </td>
                        </tr>
                          <tr>
                            <td style="height:20px;"></td>
                        </tr>
                        <tr>
                            <td>

                                <table class="border-table" id="SelectList" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; width: 720px;">


                                    <tr>
                                        <td>1</td>
                                        <td><a href="http://www.divcss5.com/">CSS教程网</a></td>
                                        <td w><a href="http://www.divcss5.com/">www.divcss5.com</a></td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
                        <tr>
                            <td style="height:20px;"></td>
                        </tr>
                        <tr>
                            <td>
                                <form id="f2" method="post" enctype="multipart/form-data">

                                    <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td style="width: 100px;">
                                                <label>领取人单位：</label></td>
                                            <td style="width: 220px;">
@*                                                <input class="easyui-validatebox textbox" type="text" name="TransmittingMan" data-options="required:true"/>*@
                                                 <input class="easyui-combobox" id="DepartmentId" name="DepartmentId"
                   data-options="valueField:'Id',textField:'TName'">
                                            </td>
                                       
                                            <td style="width: 80px;">
                                                <label>递方式：</label></td>
                                            <td style="width: 340px;">
@*                                                <input class="easyui-datetimebox" name="TransmittingTime" id="TransmittingTime" data-options="required:true,showSeconds:false" style="width: 200px">*@
                                                  <select id="TransferWay" class="easyui-combobox" data-options="required:true" name="TransferWay" style="width: 200px;" >
                                <option value="邮寄">邮寄</option>
                                <option value="签领">签领</option>
@*                                <option value="副本">副本</option>*@
@*                                <option value="离休">离休</option>*@
@*                                <option value="退休">退休</option>*@
@*                                <option value="在职">在职</option>*@

                            </select>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <div style="text-align: center; width: 100%; margin-bottom: 5px; margin-top: 10px;">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-arrow_left" onclick="step.preStep();">返回</a>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>

                                </div>
                            </td>
                        </tr>
                    </table>





                </div>

            </div>

        </div>
    </div>
</body>
</html>
