
<!DOCTYPE html>
@{
    ViewBag.TName = "Index";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>WebOfficeDocFile</title>
    <link href="~/Scripts/weboffic7/style.css" rel="stylesheet" />
    @section Jsprepare{
        @*<script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
            <script src="~/Content/js/json2.js"></script>*@

        <style type="text/css">
            ul li {
                margin-top: 5px;
                margin-left: 0px;
            }
        </style>
        <script src="~/Scripts/weboffic7/main.js"></script>


        <script language="javascript" event="NotifyToolBarClick(iIndex)" for="WebOffice1">
            <!--
                WebOffice1_NotifyToolBarClick(iIndex);
            //-->
        </script>

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)
            var BaseUrl = '/TF_LiftApprove/';
            function WebOffice1_NotifyToolBarClick(iIndex) {
                if (iIndex == 32777) {
                    var isOpened = document.all.WebOffice1.IsOpened();
                    if (isOpened == 0) {
                        alert("未打开任何文档文件！");
                        return false;
                    }
                    else {
                        var isSaved = document.all.WebOffice1.IsSaved();
                        if (isSaved == 0) {
                            if (confirm("文件已被修改，是否保存？")) {
                                saveUpload();
                                window_onunload();
                            }
                            else {
                                window_onunload();
                            }
                        }
                        else {
                            window_onunload();
                        }
                    }
                }
                else if (iIndex == 32780) {
                    saveUpload();
                }
            }
            function closeWord() {
                document.all.WebOffice1.CloseDoc(2);
            }
            window.onload = function () {
                InitTreeData();
                document.all.WebOffice1.SetCustomToolBtn(1, "关闭文档");
                document.all.WebOffice1.SetCustomToolBtn(4, "保存修改");

                document.all.WebOffice1.HideMenuItem(0x01);
                document.all.WebOffice1.HideMenuItem(0x02);
                document.all.WebOffice1.HideMenuItem(0x03);
                document.all.WebOffice1.HideMenuItem(0x04);
                document.all.WebOffice1.HideMenuItem(0x10);
                document.all.WebOffice1.AcceptAllRevisions();
            };

            function InitTreeData() {
                var ID = "BC2B2A4E-CC72-49DD-B2FB-7FD314C80947";
                $.ajax({
                    url: BaseUrl + 'GetLifeFiles',
                    type: 'GET',
                    data: { ID: ID, state: "1" },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        $.each(data, function (i, n) {
                            $("#curfileList").append("<li><a href=\"#\" onclick=\"loadFileToEdit('" + this.Id + "','" + this.Route + "','" + this.FullRoute + "','" + this.Suffix + "')\">" + this.ShowName + "</a></li>");
                        });
                    }
                });
            }

            function loadFileToEdit(ID, dir, curfilepath, suffix) {
                if (suffix == "") {
                    suffix = "doc";
                }
                $("#currFileDir").val(dir);
                $("#currFileID").val(ID);
                $("#currFile").val(curfilepath);

                document.all.WebOffice1.HideMenuItem(0x04); //隐藏保存
                document.all.WebOffice1.LoadOriginalFile(curfilepath, suffix);
                document.all.WebOffice1.AcceptAllRevisions();
            }
            function saveUpload() {
                var returnValue;// 保存页面的返回值
                var isOpened = document.all.WebOffice1.IsOpened();
                if (isOpened == 0) {
                    alert("未打开任何文档文件！");
                    return false;
                }
                else {
                    var _fileId = $("#currFileID").val();
                    var _filedir = $("#currFileDir").val();
                    var _basefile = $("#currFile").val();
                    document.all.WebOffice1.HttpInit();	// 初始化Http引擎
                    document.all.WebOffice1.HttpAddPostString("sfile", _basefile);
                    document.all.WebOffice1.HttpAddPostString("action", "manager");
                    document.all.WebOffice1.HttpAddPostString("curfiledir", _filedir);
                    document.all.WebOffice1.HttpAddPostCurrFile("curfile", _fileId);
                    returnValue = document.all.WebOffice1.HttpPost("/httpHandle/WebOfficeHandler.ashx");
                    if ("true" == returnValue) {
                        var curTempFile = document.all.WebOffice1.GetTempFilePath();
                        if (curTempFile != null || curTempFile != "") {
                            document.all.WebOffice1.DelLocalFile(curTempFile);//删除临时文件
                        }
                        alert("文件保存成功");
                    } else {
                        alert("文件保存失败")
                    }
                }
            }
        </script>
    }
</head>
<body>
    <div class="easyui-layout" data-options="fit:true" style="margin:5px;">
        <div region="west" split="true" title="文件列表" style="width:180px;">
            <ul id="curfileList"></ul>
        </div>
        <div region="center" title="文件编辑区域" style="padding:5px;background:#eee;">
            <object id="WebOffice1" style="height: 100%; width: 100%; top: 0px"
                    classid="clsid:E77E049B-23FC-4DB8-B756-60529A35FAD5"
                    codebase="WebOffice.cab#Version=7,0,1,0">
                <param name="ExtentX" value="6050" />
                <param name="ExtentY" value="6050" />
                <param name="_StockProps" value="0" />
            </object>
        </div>
    </div>
    <div>
        <input id="currFile" type="hidden" />
        <input id="currFileID" type="hidden" />
        <input id="currFileDir" type="hidden" />
    </div>
</body>
</html>
