<!DOCTYPE html>
@{
    ViewBag.TrueName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <script type="text/javascript" charset="utf-8" src="~/Content/js/ImgUp.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    <script src="~/Content/js/publicMethod.js"></script>
    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)
            //var BaseUrl = "/TF_LifeComments/";
            jQuery(document).ready(function () {
                DataGridSet();
            })

            Date.prototype.Format = function (fmt) {
                var o = {
                    "M+": this.getMonth() + 1, //月份
                    "d+": this.getDate(), //日
                    "h+": this.getHours(), //小时
                    "m+": this.getMinutes(), //分
                    "s+": this.getSeconds(), //秒
                    "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                    "S": this.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }
            function GetUrlParam(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) { return unescape(r[2]); } else {
                    return null;
                }
            }
            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'Search',
                   
                    columns: [[
                        { field: 'ck', checkbox: true },
                        { field: 'TrueName', title: '姓名', width: 60, sortable: true },
                        {
                            field: 'Sex', title: '性别', width: 30, align: "center", sortable: true, formatter: function (value, row, index) {
                                if (value == 1) {
                                    return "男";
                                }
                                else if (value == 0) {
                                    return "女";
                                }
                                else {
                                    return "";
                                }
                            }
                        },
                        { field: 'IdentityCardNumber', title: '身份证号码', align: "center", width: 80, sortable: true },
                        { field: 'Units', title: '所在单位', align: "center", width: 140, sortable: true },
                        { field: 'TotalCertificate', title: '证件数', align: "center", width: 30, sortable: true },
                        { field: 'TotalHZ', title: '护照', align: "center", width: 100, sortable: true },
                        { field: 'TotalGA', title: '港澳通行证', align: "center", width: 100, sortable: true },
                        { field: 'TotalTW', title: '台湾通行证', align: "center", width: 100, sortable: true }
                      ,
                          {
                              field: 'Id',
                              title: '操作',
                              width: 30,
                              align: "center",
                              formatter: function (value, rowData, rowIndex) {
                                  var d = "";
                                  //debugger
                                  //  if (rowData.IdentityCardNumber != "") {
                                  d = '<a href="#" href="javascript:void(0);" onclick="ShowDetails(\'' + rowData.IdentityCardNumber + '\',\'' + rowData.TrueName +'\')" style="cursor: default;">查看</a>  '
                                  // }
                                  return d;
                              }
                          }
                    ]],
                    iconCls: 'icon-save',
                    title: '证件汇总',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'IdentityCardNumber',
                    sortOrder: 'desc',
                    toolbar: toolbars
                });
            }

            function ShowDetails(Idcard,name) {                
                var curId = "";
                if (Idcard ==undefined) {
                    var rows = $("#dg").datagrid('getSelected');
                    //首先取出来值判断只能选择一个
                    if (rows == null) {
                        $.messager.alert("友情提示", "请选择", "error");
                        return;
                    }
                    else {
                        curId = rows.IdentityCardNumber;
                        name = rows.TrueName;
                    }
                }
                else {
                    curId = Idcard;
                }                
                addTab(name + "的证件",  "TF_EntryAndExitRegStatistics/CertificateDetail?idd=" + curId);

            }

            //搜索
            function SearchGo() {
                DataBaseFunction.Search("fSearh", "dg");
                $("#Div_Searh").dialog('close');
            }
            //搜索
            function Search() {
                // $("#fSearh").form("clear");
                $('#States_eq').combobox('reload', '/httpHandle/DictionaryHandler.ashx?action=GetSysItem&ItemType=LifeCommentsStates');  // 使用新的URL重新载入列表数据
                $("#Div_Searh").dialog('open').dialog('setTitle', '搜索').window('resize', { top: 100, left: 100 });
            }

            function RefreshOP() {
                DataGridSet();
            }

            $.extend($.fn.validatebox.defaults.rules, {
                IdentityCardNumber: {// 验证身份证
                    validator: function (value) {
                        return /^\d{15}(\d{2}[A-Za-z0-9])?$/i.test(value);
                    },
                    message: '身份证号码格式不正确'
                }
            });
        </script>
    }

</head>
<body style="overflow-y: hidden">

    <table id="dg"></table>


    <!------------------------搜索弹出层---------------------------------->
    <div id="Div_Searh" class="easyui-dialog" style="width: 380px; padding: 10px 20px;"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="fSearh">

            <table class="stripes" style="table-layout: fixed; margin: 0 auto; width: 320px;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 100px;">
                        <label>干部名字：</label>
                    </td>
                    <td>
                        <input class="textbox" type="text" name="TrueName_like" style="width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <label>身份证号：</label>
                    </td>
                    <td>
                        <input class="textbox" type="text" maxlength="18" name="IdentityCardNumber_eq" style="width: 150px;" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px;">
                        <label>证件类型：</label>
                    </td>
                    <td>
                        <select id="CertificateCategory" name="CertificateCategory_eq" class="easyui-combobox" style="width: 150px;">
                            <option value="">==请选择==</option>
                            <option value="1">护照</option>
                            <option value="2">港澳通行证</option>
                            <option value="3">台湾通行证</option>
                        </select>
                    </td>
                </tr>
            </table>

        </form>
        <div style="text-align: center; width: 100%; margin: 5px 0px; display: block;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" style="float: left;" onclick=" DataBaseFunction.ClearForm('fSearh');">清除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-search" onclick="SearchGo();">搜索</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-cancel" onclick="$('#Div_Searh').dialog('close')">关闭</a>
        </div>
    </div>
    <!------------------------弹出信息的弹出层---------------------------------->
    <div id="DivEditor" class="easyui-dialog" style="width: 800px;"
         closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <div id="Div_form" class="easyui-panel" style="padding: 10px 20px; overflow-x: hidden;" data-options="height:520,width:780,border:false">
            <form id="ff" method="post" enctype="multipart/form-data">
                <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                    <input type="hidden" name="Id" />
                    <input type="hidden" name="CreateMan" />
                    <input type="hidden" name="CreateTime" />
                    <input type="hidden" name="UpdateTime" />
                    <input type="hidden" name="isValid" />
                    <input type="hidden" name="isDeleted" />
                    <tr>
                        <td style="width: 100px;">
                            <label>使用类型：</label>
                        </td>
                        <td>
                            <select id="UseCategory" name="UseCategory" class="easyui-combobox" style="width: 200px;" data-options="required:true">
                                <option value="1">保管</option>
                                <option value="2">领用</option>
                                <option value="3">归还</option>
                                <option value="4">退回</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>批文：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="OfficialDocOrRemarks" style="width: 600px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>干部名字：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="TrueName" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>性别：</label>
                        </td>
                        <td>
                            <select id="Sex" name="Sex" class="easyui-combobox" style="width: 200px;">
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>所在单位：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Units" style="width:600px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>证件类型：</label>
                        </td>
                        <td>
                            <select id="Sex" name="CertificateCategory" class="easyui-combobox" style="width: 200px;">
                                <option value="1">护照</option>
                                <option value="2">港澳通行证</option>
                                <option value="3">台湾通行证</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>证件号码：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" maxlength="9" name="CertificateNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>身份证号：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" maxlength="18" name="IdentityCardNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>办理人单位：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="ApproverUnit" style="width: 600px;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>办理人：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="Approver" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>联系方式：</label>
                        </td>
                        <td>
                            <input class="easyui-validatebox textbox" type="text" name="ContactInformation" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100px;">
                            <label>日期：</label>
                        </td>
                        <td>
                            <input class="easyui-datebox easyui-validatebox" type="text" style="width: 200px;" name="AprovalTime" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>备注：</label>
                        </td>
                        <td>
                            <textarea class="areabox" name="Remark" maxlength="250" style="height: 50px; width: 600px;"></textarea>
                        </td>
                    </tr>
                </table>
            </form>
        </div>

        <div style="text-align: center; width: 100%; margin-bottom: 5px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivEditor').dialog('close')">关闭</a>
        </div>
    </div>
</body>
</html>
