<!DOCTYPE html>
@{
    ViewBag.TName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>

    @* ReSharper disable once NotAllPathsReturnValue *@

    <style>

            /*table细边框 end*/
        .border-table {
            border-collapse: collapse;
            border: none;
        }

            .border-table td {
                border: solid #000 1px;
                padding: 5px 15px;
            }
        /*table细边框 end*/

    </style>
    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)
           var penwidth = 3;
            jQuery(document).ready(function () {
                DataGridSet();
            })
            function DataGridSet() {
                $('#dg').datagrid({
                    url: BaseUrl + 'ScatteredSearch',
                    columns: [[
                        { field: 'ck', checkbox: true },
                               { field: 'FileName', title: '档案名称', width: 100, sortable: true },
           { field: 'TransmittingMan', title: '领取人', width: 100, sortable: true },
              { field: 'Series', title: '转递单号', width: 100, sortable: true },
//              { field: 'Nos', title: '号', width: 100, sortable: true },
              { field: 'OriginalCount', title: '正本（卷）', width: 100, sortable: true },
              { field: 'DuplicateCount', title: '副本（卷）', width: 100, sortable: true },
              { field: 'MaterialCount', title: '材料（份）', width: 100, sortable: true },
              { field: 'CreateMan', title: '创建人', width: 100, sortable: true },
              { field: 'StatesName', title: '状态', width: 100, sortable: true },
              { field: 'TransmittingTime', title: '转递时间', width: 100, sortable: true },

                    {
                        field: 'Id', title: '操作', width: 100,

                        //添加超级链 

                        formatter: function (value, rowData, rowIndex) {
                            var d = "";

                            if (rowData.States == 2) {
                                d = '<a href="#" href="javascript:void(0);"  style="cursor: default;">确认转出</a>  ';

                            } else {
                                d = '<a href="#" onclick="ShowDetailsSing(\'' + rowIndex + '\')">确认转出</a>  ';
                            }


                            return d;


                        }
                    }
                    ]],
                    iconCls: 'icon-save',
                    title: '转出记录',
                    nowrap: true,
                    fit: true,
                    fitColumns: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pageSize: 20,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    toolbar: toolbars
                });
            }
            //easyUI 弹出添加的对话框
            function AddInfo() {

                window.parent.JumpP("登记转出记录", "TF_PersonnelFile_Transmitting_Out/ScatteredAdd", "icon-rgb");
            }

            function ShowDetailsSing(id) {
                var rows = $('#dg').datagrid('getData').rows[id];
                var obj = document.getElementById("HWPenSign");
                obj.HWFinalize();
                obj.HWSetBkColor(0xE0F8E0);
                obj.HWSetCtlFrame(1, 0x000000);
                res = obj.HWInitialize();
                //                var rows = $("#dg").datagrid('getSelected');
                //                //首先取出来值判断只能选择一个
                //                if (rows == null) {
                //                    // $.messager.alert("友情提示", "请选择", "error");
                //                    return;
                //                }
                //                $("#DivShow2").dialog('open').dialog('setTitle', '查看-字号' + "" + "").window('resize', { top: 20 });
                $("#DivShow").dialog('open').dialog('setTitle', '查看-转递单号' + rows.Series + "").window('resize', { top: 20 });
                DataBaseFunction.BindForm("f1", rows);
                DataBaseFunction.BindForm("f2", rows);
                var ID = rows.Id;  //获取项
                $.ajax({
                    url: BaseUrl + 'GetListItems',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        createList(data)
                    }
                });

            }

            //查看
            //            function ShowDetails() {
            //                var rows = $("#dg").datagrid('getSelected');
            //                //首先取出来值判断只能选择一个
            //                if (rows == null) {
            //                    // $.messager.alert("友情提示", "请选择", "error");
            //                    return;
            //                }
            //                $("#DivShow").dialog('open').dialog('setTitle', '查看-' + rows.Series + "字" + rows.Nos + "号").window('resize', { top: 20 });
            //                DataBaseFunction.BindForm("f1", rows);
            //                DataBaseFunction.BindForm("f2", rows);
            //                var ID = rows.Id;  //获取项
            //                $.ajax({
            //                    url: BaseUrl + 'GetListItems',
            //                    type: 'POST',
            //                    data: { ID: ID },
            //                    cache: false,
            //                    error: function () { alert('Error $.ajax'); },
            //                    success: function (data) {
            //                        createList(data)
            //                    }
            //                });
            //
            //            }
            //查看
            function ShowDetails() {


                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    // $.messager.alert("友情提示", "请选择", "error");
                    return;
                }
                $("#imgId").attr('src', "TF_PersonnelFile_Transmitting_Out/GetImage?id=" + rows.Id);
                $("#DivShow2").dialog('open').dialog('setTitle', '查看-转递单号' + rows.Series + "").window('resize', { top: 20 });
                DataBaseFunction.BindForm("f3", rows);
                DataBaseFunction.BindForm("f4", rows);
                var ID = rows.Id;  //获取项
                $.ajax({
                    url: BaseUrl + 'GetListItems',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error $.ajax'); },
                    success: function (data) {
                        createList2(data);
                    }
                });

            }
            function createList2(datas) {

                $("#SelectList2").empty();
                var result = ' <tr> <td style="width: 80px;">姓名</td><td style="width: 120px;">所在单位职务</td><td style="width: 200px;">材料内容</td><td style="width: 50px;">正本(卷)</td><td style="width: 50px;">副本(卷)</td><td style="width: 50px;">档案材料(份)</td></</tr>';
                for (var i = 0; i < datas.length; i++) {
                    result += '<tr id="' + datas[i].Id + '" >';
                    result += "<td>" + datas[i].RealName + "</td>";
                    var re = "";
                    if (datas[i].Reasons) {
                        re = datas[i].Reasons;
                    }
                    result += "<td>" + datas[i].Duties + "</td>";
                    result += "<td>" + re + "</td>";
                    result += "<td>" + datas[i].OriginalCount + "</td>";
                    result += "<td>" + datas[i].DuplicateCount + "</td>";
                    result += "<td>" + datas[i].MaterialCount + "</td>";
                    result += "</tr>"
                }
                $("#SelectList2").append(result);

            }
            //实现的编辑，包括增查改
            function SaveInfo() {
                debugger;
                var stream;
                var obj = document.getElementById("HWPenSign");
                stream = obj.HWGetBase64Stream(2);

                var data = DataBaseFunction.GetFormData("f1");

                //var data2 = DataBaseFunction.GetFormData("f2");
                //for (var i = 0; i < data2.length; i++) {

                //    data.push(data2[i]);
                //}

                var ItemList = getTableData();//项
//
                var jsonstr = JSON.stringify(ItemList);
                var FistName = {
                    name: "FistName",
                    value: jsonstr

                }
                if (stream) {
                    var signatureimage = {
                        name: "signatureimage",
                        value: stream

                    }
                    data.push(signatureimage);
                }

                var States = {
                    name: "States",
                    value: "2"

                }
                data.push(FistName);
              
                data.push(States);
                //  发送异步请求到后台保存数据
                $.post(BaseUrl + 'AdminEditInfo', data, function (data) {
                    $('#shuchu').html(data.Msg);
                    if (data.Code > 0) {
                        var stream;
                        stream = obj.HWFinalize();
                    }
                });


            }
            function getTableData() {
                var data = new Array();//当前选择的
                var trList = $("#SelectList").children("tr")
                for (var i = 1; i < trList.length; i++) {//第二项开始
                    var items = new Object();;
                    items.Id = trList.eq(i).attr("id");

                    var tdArr = trList.eq(i).find("td");
                    items.RealName = tdArr.eq(0).html();//名称
                    //                    items.Units = tdArr.eq(1).html();//单位
                    items.Duties = tdArr.eq(1).html();//职位
                    //                    items.Reasons = tdArr.eq(3).find("input").val();//
                    items.OriginalCount = tdArr.eq(2).find("input").val();//    
                    items.DuplicateCount = tdArr.eq(3).find("input").val();//    
                    items.MaterialCount = tdArr.eq(4).find("input").val();//    


                    data.push(items);
                }

                return data;
            }
            function ExportWord() {
                var rows = $("#dg").datagrid('getSelected');
                //首先取出来值判断只能选择一个
                if (rows == null) {
                    // $.messager.alert("友情提示", "请选择", "error");
                    return;
                }

                var ID = rows.Id;  //获取项

                $("#exportToExcelForm").remove();
                var form = $("<form>"); //定义一个form表单
                form.attr("id", "exportToExcelForm");
                form.attr("style", "display:none");
                form.attr("target", "");
                form.attr("method", "post");
                form.attr("action", "/Excel/CommonExportWordout");
                var input1 = $("<input>");
                input1.attr("type", "hidden");
                input1.attr("name", "id");
                input1.attr("value", ID);

                $("body").append(form); //将表单放置在web中
                form.append(input1);

                form.submit(); //表单提交

                $("#exportToExcelForm").remove();

            }
            //刷新
            function RefreshOP() {
                $("#dg").datagrid("reload");
            }
            //搜索
            function SearchGo() {
                DataBaseFunction.Search("fSearh", "dg");
                $("#Div_Searh").dialog('close');
            }
            //搜索
            function Search() {
                // $("#fSearh").form("clear");
                $("#Div_Searh").dialog('open').dialog('setTitle', '搜索').window('resize', { top: 100, left: 100 });
            }
            //删除
            function Del() {
                DataBaseFunction.deleteInfo("dg", "Id", "TransmittingMan");
            }
            function createList(datas) {

                $("#SelectList").empty();
                var result = ' <tr> <td style="width: 80px;">姓名</td><td style="width: 120px;">所在单位职务</td><td style="width: 200px;">材料内容</td><td style="width: 50px;">正本(卷)</td><td style="width: 50px;">副本(卷)</td><td style="width: 50px;">档案材料(份)</td></</tr>';
                for (var i = 0; i < datas.length; i++) {
                    result += '<tr id="' + datas[i].Id + '" >'
                    result += "<td>" + datas[i].RealName + "</td>";

                    result += "<td>" + datas[i].Duties + "</td>";
                    result += "<td>" + datas[i].Reasons + "</td>";
                    result += "<td>" + datas[i].OriginalCount + "</td>";
                    result += "<td>" + datas[i].DuplicateCount + "</td>";
                    result += "<td>" + datas[i].MaterialCount + "</td>";
                    result += "</tr>"
                }
                $("#SelectList").append(result);

            }
            function Button3_onclick() {
                var obj = document.getElementById("HWPenSign");
                obj.HWClearPenSign();
            }

            function Button10_onclick() {
                var obj = document.getElementById("HWPenSign");
                penwidth++;
                if (penwidth > 5)
                    penwidth = 5;
                obj.HWSetPenWidth(penwidth);
            }

            function Button11_onclick() {
                var obj = document.getElementById("HWPenSign");
                penwidth--;
                if (penwidth < 1)
                    penwidth = 1;
                obj.HWSetPenWidth(penwidth);
            }

            function Button12_onclick() {
                var obj = document.getElementById("HWPenSign");
                obj.HWSetPenMode(1);
            }

            function Button13_onclick() {
                var obj = document.getElementById("HWPenSign");
                obj.HWSetPenMode(0);
            }
            function Button1_onclick() {
                var obj = document.getElementById("HWPenSign");
                res = obj.HWInitialize();
            }

            function Button2_onclick() {
                var obj = document.getElementById("HWPenSign");
                var stream;
                stream = obj.HWFinalize();
            }

        </script>
    }

</head>
<body style="overflow-y: hidden">

    <table id="dg"></table>


    <!------------------------搜索弹出层---------------------------------->
    <div id="Div_Searh" class="easyui-dialog" style="width: 380px; padding: 10px 20px;"
        closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
        <form id="fSearh">

            <table class="stripes" style="table-layout: fixed; margin: 0 auto; width: 320px;" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td style="width: 60px;">
                        <label>转递人：</label></td>
                    <td>
                        <input type="text" class="textbox" name="TransmittingMan_like" style="width: 200px;" />
                    </td>

                </tr>
                <tr>
                    <td>
                        <label>转递单号：</label></td>
                    <td>
                        <input type="text" class="textbox" name="Series_like" style="width: 200px;" />
                    </td>
                </tr>
               
            </table>

        </form>
        <div style="text-align: center; width: 100%; margin: 5px 0px; display: block;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" style="float: left;" onclick=" DataBaseFunction.ClearForm('fSearh');">清除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-search" onclick="SearchGo();">搜索</a>
            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-cancel" onclick="$('#Div_Searh').dialog('close')">关闭</a>
        </div>
    </div>
  


    <!------------------------弹出查看层---------------------------------->
<div id="DivShow" class="easyui-dialog" style="width: 750px;"
     closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
    <div class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:300,width:730,border:false">


        <table style="table-layout: fixed; margin: 0 auto; width: 720px;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <form id="f1">
                        <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 100px;">
                                    <label>转递单号：</label></td>
                                <td style="width: 120px;">
                                    <span name="Series"></span>
                                    <input type="hidden" name="Id"/>
                                </td>
                                <td style="width: 20px;">
                                    @*                                            <label>号：</label>*@

                                </td>
                                <td style="width: 660px;">
                                    @*                                            <span name="Nos"></span>*@

                                </td>
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td style="height: 10px;"></td>
            </tr>
            <tr>
                <td>

                    <table class="border-table" id="SelectList" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; width: 720px;">
                    </table>

                </td>
            </tr>
            <tr>
                <td style="height: 20px;"></td>
            </tr>
            <tr>
                <td>
                    <form id="f2" method="post" enctype="multipart/form-data">

                        <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 80px;">
                                    <label>领取人：</label></td>
                                <td style="width: 220px;">
                                    <span name="TransmittingMan"></span></td>

                                <td style="width: 80px;">
                                    <label>领取时间：</label></td>
                                <td style="width: 340px;">
                                    <span name="TransmittingTime"></span></td>
                            </tr>
                            <tr>
                                <td style="width: 80px;">
                                    <label>签名：</label></td>
                                <td colspan="3">

                                    <object id="HWPenSign"
                                            name="HWPenSign"
                                            classid="clsid:E8F5278C-0C72-4561-8F7E-CCBC3E48C2E3"
                                            width="400"
                                            height="200">
                                    </object>
                                </td>


                            </tr>
                            <tr>
                                <td style="width: 80px;">
                                    签名操作：
                                </td>
                                <td colspan="3">
                                    <input id="button1" type="button" value="初始化设备" onclick="return Button1_onclick()" />

                                    <input id="button2" type="button" value="关闭设备" onclick="return Button2_onclick()" />
                                    <input id="Button3" type="button" value="重新签名" onclick="return Button3_onclick()"/>
                                    <input id="Button10" type="button" value="笔宽加粗" onclick="return Button10_onclick()"/>

                                    <input id="Button11" type="button" value="笔宽减细" onclick="return Button11_onclick()"/>

                                    <input id="Button12" type="button" value="压力笔" onclick="return Button12_onclick()"/>

                                    <input id="Button13" type="button" value="钢笔" onclick="return Button13_onclick()"/>
                                </td>


                            </tr>
                        </table>
                        <label id="shuchu" style="color:red;">  </label>
                    </form>
                </td>
            </tr>
        </table>


    </div>

    <div style="text-align: center; width: 100%; margin-bottom: 5px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivShow').dialog('close')">关闭</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>
    </div>
</div>
    <div id="DivShow2" class="easyui-dialog" style="width: 750px;"
     closed="true" resizable="true" modal="true" buttons="#dlg-buttons">
     <div class="easyui-panel" style="padding: 10px 10px; overflow-x: hidden;" data-options=" height:300,width:730,border:false">


        <table style="table-layout: fixed; margin: 0 auto; width: 720px;" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <form id="f3">
                        <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 100px;">
                                    <label>转递单号：</label></td>
                                <td style="width: 120px;">
                                    <span name="Series"></span>
                                    <input type="hidden" name="Id"/>
                                </td>
                             
                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
            <tr>
                <td style="height: 10px;"></td>
            </tr>
            <tr>
                <td>

                    <table class="border-table" id="SelectList2" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; width: 720px;">
                    </table>

                </td>
            </tr>
            <tr>
                <td style="height: 20px;"></td>
            </tr>
            <tr>
                <td>
                    <form id="f4" method="post" enctype="multipart/form-data">

                        <table class="stripes" style="table-layout: fixed;" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td style="width: 80px;">
                                    <label>转递人：</label></td>
                                <td style="width: 220px;">
                                    <span name="TransmittingMan"></span></td>

                                <td style="width: 80px;">
                                    <label>转递时间：</label></td>
                                <td style="width: 340px;">
                                    <span name="TransmittingTime"></span></td>
                            </tr>
                            <tr>
                                <td style="width: 80px;">
                                    <label>签名：</label></td>
                                <td colspan="3">

                  <img id="imgId" />
                                </td>


                            </tr>
                        </table>
                    </form>
                </td>
            </tr>
        </table>


    </div>

    <div style="text-align: center; width: 100%; margin-bottom: 5px;">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="$('#DivShow2').dialog('close')">关闭</a>
     
    </div>
   
    </div>
</body>
</html>
