<!DOCTYPE html>
@{
    ViewBag.TName = "Index";
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <script type="text/javascript" charset="utf-8" src="~/Content/js/DictionaryHelper.js"></script>
    <script src="~/Content/js/json2.js"></script>

    <style>
        /*表单样式 start*/
        .tableStyle {
            border: solid #E1E1E1;
            border-width: 1px 0px 0px 1px;
        }

        .trStyle {
            height: 20px;
            line-height: 20px;
            background: #E1E1E1;
        }

        /* css注释：默认css背景被白色 */
        .tdStyle {
            height: 20px;
            line-height: 20px;
            background: #FFF;
            vertical-align: middle;
            border: solid #E1E1E1;
            border-width: 0px 1px 1px 0px;
            padding: 5px 10px;
        }


        /* css 注释：默认隔行背景颜色 */
        .altTd {
            background: #F9F9F9;
        }

        /* css注释：鼠标经过时候背景颜色 */
        .overTd {
            background: #EFF4F7;
        }

        /*表单样式 end*/


        /*table细边框 end*/
        .border-table {
            border-collapse: collapse;
            border: none;
        }

            .border-table td {
                border: solid #000 1px;
                padding: 5px 15px;
            }
        /*table细边框 end*/
    </style>


    <!--步骤条 star-->
    <link href="~/Content/jquery-step/css/jquery.step.css" rel="stylesheet" />
    <script src="~/Content/jquery-step/js/jquery.step.js"></script>
    <!--步骤条 end-->

    @* ReSharper disable once NotAllPathsReturnValue *@


    @section Jsprepare{

        <script type="text/javascript">
            @Html.Raw(ViewBag.RuteUrl)
         @Html.Raw(ViewBag.toolbar)

            var CurrentList;
            var step;
            jQuery(document).ready(function () {

                CurrentList = new Array();//当前选择的
                DataGridCheck.dataGridSelecttor = '#tblist';
                step = $("#myStep").step({
                    animate: true,
                    initStep: 1,
                    speed: 1000
                });
                $('#TransmittingTime').datetimebox('setValue', '9999');
                $(".validatebox-tip").remove();//清除验证样式
                PersonnelFile();

            })

     
 

            //实现的编辑，包括增查改
            function SaveInfo() {

                //判断的信息是否通过验证
                var validate = $("#f1").form('validate');
                if (validate == false) {
                    return false;
                }
                //判断的信息是否通过验证
                var validate2 = $("#f2").form('validate');
                if (validate2 == false) {
                    return false;
                }
               
                var ItemList=getTableData();//项
                var jsonstr = JSON.stringify(ItemList);
                var listAll = [{
                    name: "listAll",
                    value: jsonstr

                }]
  
              //  发送异步请求到后台保存数据
                $.post(BaseUrl + 'AddList', listAll, function (data) {
                    alerts(data.Msg, 2);
                    if (data.Code > 0) {

                        window.setTimeout("window.parent.closeC()", 1500);//关闭当前页面
                    }
                });

            }


            //搜索
            function Search() {
                DataBaseFunction.Search("ftblist", "tblist");
            }

            function PersonnelFile() {
                $('#tblist').datagrid({
                    url: BaseUrl + 'PersonnelFile',
                    columns: [[
                          { field: 'ck', checkbox: true },
                { field: 'RealName', title: '姓名', width: 100, sortable: true },
              //{ field: 'Category', title: '类别', width: 100, sortable: true },
              { field: 'Units', title: '单位', width: 100, sortable: true },
              { field: 'Duties', title: '职务', width: 100, sortable: true },
              { field: 'Summary', title: '摘要', width: 100, sortable: true }
                    ]],
                    iconCls: 'icon-save',
                    title: '可用的档案',
                    nowrap: true,
                    fitColumns: true,
                    //singleSelect: true,
                    striped: true,
                    collapsible: true,
                    width: 720,
                    height: 580,
                    pageSize: 10,
                    pagination: true,
                    rownumbers: true,
                    sortName: 'CreateTime',
                    sortOrder: 'desc',
                    idField: 'Id',
                    view: fileview,
                    onCheck: DataGridCheck.addcheckItem,//选中事件
                    onCheckAll: DataGridCheck.addcheckItem,//选择当前页全部
                    onUncheck: DataGridCheck.removeSingleItem,//取消选择事件
                    onUncheckAll: DataGridCheck.removeAllItem//取消当前页选择事件
                });
                var fileview = $.extend({}, $.fn.datagrid.defaults.view, { onAfterRender: function (target) { DataGridCheck.SetcheckItem(); } });
            }


            function nextGo() {
                step.nextStep();
                createList(DataGridCheck.checkedItems);

            }

            function createList(datas) {

                $("#SelectList").empty();

                var result = ' <tr> <td style="width: 100px;">档案姓名</td><td style="width: 120px;">查阅人单位</td><td style="width: 50px;">查阅人姓名</td><td style="width: 200px;">查阅内容</td><td style="width: 50px;">查阅时间</td><td style="width: 50px;">备注</td></</tr>';
                for (var i = 0; i < datas.length; i++) {
                    result += '<tr id="' + datas[i].Id + '" >'
                    result += "<td>" + datas[i].RealName + "</td>";
                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 200px;" type="text" name="Units" /></td>';
                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 200px;" type="text" name="ConsultMan" /></td>';
                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 200px;" type="text" name="ConsultDetail" /></td>';
                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 200px;" type="text" name="ConsultTime" /> </td>';
                    result += '<td>  <input class="easyui-validatebox textbox" style="width: 200px;" type="text" name="Remarks" /></td>';

                    result += "</tr>"
                }
                $("#SelectList").append(result);

            }

            function getTableData()
            {
                var data = new Array();//当前选择的
                var trList = $("#SelectList").children("tr")
                for (var i = 1; i < trList.length; i++) {//第二项开始
                    var items = new Object();;
                    items.PersonnelFileId = trList.eq(i).attr("id");

                    var tdArr = trList.eq(i).find("td");
                    items.PersonnelFile = tdArr.eq(0).html();//名称
                    items.Units = tdArr.eq(1).find("input").val();//
                    items.ConsultMan = tdArr.eq(2).find("input").val();//
                    items.ConsultDetail = tdArr.eq(3).find("input").val();//
                    items.ConsultTime = tdArr.eq(4).find("input").val();//    
                    items.Remarks = tdArr.eq(5).find("input").val();//     

                    data.push(items);
                }

                return data;
            }
        </script>
    }

</head>
<body>
    <div class="step-body" id="myStep">
        <div class="step-header" style="width: 80%">
            <ul>
                <li>
                    <p>选择档案</p>
                </li>
                <li>
                    <p>登记</p>
                </li>
            </ul>
        </div>
        <div class="step-content">
            <div class="step-list">

                <form id="ftblist">
                    <table class="tableStyle" style="table-layout: fixed; margin: 0 auto; width: 740px;" border="0" cellspacing="0" cellpadding="0">
                        <tr class="trStyle">
                            <td class="tdStyle altTd"><span>关键词:</span>
                                <input class="easyui-validatebox textbox" type="text" name="RealName|Units|Duties_like" />
                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="Search();">搜索</a></td>

                        </tr>
                        <tr class="trStyle">
                            <td class="tdStyle">
                                <table id="tblist"></table>
                            </td>
                        </tr>
                        <tr class="trStyle">
                            <td class="tdStyle" style="text-align: center">

                                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-arrow_right" onclick="nextGo()">下一步</a>

                            </td>
                        </tr>

                    </table>
                </form>
            </div>
            <div class="step-list">
                <div class="footer-btn">
                    <table style="table-layout: fixed; margin: 0 auto; width: 1300px;" border="0" cellspacing="0" cellpadding="0">
                   
                     
                        <tr>
                            <td>

                                <table class="border-table" id="SelectList" border="0" cellspacing="0" cellpadding="0" style="margin: 0 auto; width: 1300px; margin-top:10px;">


                                    <tr>
                                        <td>1</td>
                                        <td><a href="http://www.divcss5.com/">CSS教程网</a></td>
                                        <td w><a href="http://www.divcss5.com/">www.divcss5.com</a></td>
                                    </tr>

                                </table>

                            </td>
                        </tr>
               

                        <tr>
                            <td>
                                <div style="text-align: center; width: 100%; margin-bottom: 5px; margin-top: 10px;">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-arrow_left" onclick="step.preStep();">返回</a>
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="SaveInfo();">确定</a>

                                </div>
                            </td>
                        </tr>
                    </table>





                </div>

            </div>

        </div>
    </div>
</body>
</html>
