

<!DOCTYPE html>

<html>
<head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script src="~/Content/js/Buttons.js"></script> 
    <script src="~/Content/js/publicMethod.js"></script>
    <script src="~/Content/JqueryEasyUI/plugins/jquery.treegrid.js"></script>
    @* ReSharper disable once NotAllPathsReturnValue *@
    <style type="text/css">
        #iconlist li {
            display: block;
            float: left;
        }

        a:hover {
            font-size: 12px;
        }

            a:hover span {
                font-weight: bold;
                color: #F00;
            }
    </style>
    <title>title</title>
    @section Jsprepare{
        <script type="text/javascript">
            var BaseUrl = '/DynamicTable/';
            jQuery(document).ready(function () {
                AutoWH("#body", 100, 100); //自适应宽度
                $('#dg').datagrid({
                    url: BaseUrl + 'GetJsonResulVEntryRecordForm',
                    columns: [[
                        { field: 'ck', checkbox: true },
                        { field: 'unit', title: '单位', width: 120 },
                    //{ field: 'UserTableName', title: '表名', width: 100 },
                     { field: 'name', title: '姓名', width: 100 },
                     { field: 'ChineseName', title: '模板名称', width: 300 },
//                     { field: 'MaterialName', title: '说明', width: 100 },
                     { field: 'CreateDate', title: '录入时间', width: 100 },
                     { field: 'Remark', title: '备注', width: 100 },
                    {
                        field: 'ID', title: '操作', width: 100,

                        //添加超级链 

                        formatter: function (value, rowData, rowIndex) {

                            //function里面的三个参数代表当前字段值，当前行数据对象，行号（行号从0开始）

                            //alert(rowData.username);
                            return '<a href="#" onclick="LooKInfo(\'' + rowData.CategoryTableID + '\',\'' + rowData.ID + '\',\'' + rowData.CreateDate + rowData.ChineseName + '\')">查看</a>  ';
                            //                    return "<a href='#' onclick='LooKInfo('" + rowData.ID + "');'>角色管理</a>";
                            //  return "<a href='/DynamicTable/IndexDynamicColumn?ID=" + rowData.ID + "' target='_blank'>操作</a>";

                        }

                    }


                    ]],

                    nowrap: true,
                    singleSelect: true,
                    striped: true,
                    collapsible: true,
                    pagination: true,
                    fit: true,
                    fitColumns: true,
                    rownumbers: true,
                    toolbar: [

                    ]
                });
                $("#dd").datebox({

                    showSeconds: false

                });
                $('#ChineseName').combobox({
                    url: "/DynamicTable/GetAllCategoryTable"


                });
            });

            function LooKInfo(not, erfid, name) {
                // alert(erfid);
                addTab(name, '/DynamicTable/IndexDynamicColumnByUserLook?ID=' + not + '&EntryRecordFormID=' + erfid + '');



            }
            //easyUI 弹出添加按钮的对话框
            function ShowAddDialog() {
                //弹出层
                // $("#DivEditor").dialog('open').dialog('setTitle', '添加按钮信息');
                $('#DivEditor').dialog({
                    title: '添加按钮信息',
                    //width: 400,
                    //height: 200,
                    closed: false,
                    cache: false,
                    // href: 'get_content.php',
                    modal: true, top: 100,
                    onClose: function () {
                        //解决弹出窗口关闭后，验证消息还显示在最上面

                    }
                });
                $("#ff").form("clear");
            }
            //实现按钮的编辑，包括增查改
            function EditInfo() {

                //判断按钮的信息是否通过验证
                var validate = $("#ff").form('validate');
                if (validate == false) {
                    return false;
                }
                //获取需要传递的参数传递给前台
                var postData = $("#ff").serializeArray();

                //发送异步请求到后台保存按钮数据
                $.post(BaseUrl + 'EditInfo', postData, function (data) {
                    if (data = "OK") {
                        //添加成功  1.关闭弹出层，2.刷新DataGird
                        alert("编辑成功");
                        $('#DivEditor').dialog('close');
                        $(".validatebox-tip").remove();
                        // $("#DivEditor").dialog("close");
                        $("#dg").datagrid("reload");
                        $("#ff").form("clear");
                    }
                    else {
                        alert("编辑失败，请您检查");
                    }
                });

            }

            //修改按钮的信息
            function ShowUpdateInfo(browse) {
                //首先取出来按钮选择的数据的ID
                var rows = $("#dg").datagrid("getSelections");
                //首先取出来值判断按钮只能选择一个
                if (rows.length != 1) {
                    $.messager.alert("友情提示", "每次只能修改/浏览一条，你已经选择了<font color='red'  size='6'>" + rows.length + "</font>条", "error");
                    return;
                }
                if (browse == null) {
                    //处理修改的信息，弹出修改的对话框,然后显示选择的按钮的详细信息
                    $("#DivEditor").dialog('open').dialog('setTitle', '修改按钮信息').window('resize', { top: 100 });
                    //绑定修改显示详细信息的方法
                    BindShowUpdateInfo();
                }
                else {
                    //处理浏览的信息，弹出浏览狂，然后显示浏览信息的相信信息
                    $("#DivBrowerRole").dialog('open').dialog('setTitle', '按钮浏览').window('resize', { top: 100 });
                    //绑定按钮的浏览信息
                    BindBrowerRoleInfo();
                }
            }

            //绑定修改显示详细信息的方法
            function BindShowUpdateInfo() {
                //首先按钮发送一个异步请求去后台实现方法
                var ID = $("#dg").datagrid("getSelections")[0].ID;  //获取到了用按钮选择的ID
                $.ajax({
                    url: BaseUrl + 'GetInfo',
                    type: 'POST',
                    data: { ID: ID },
                    cache: false,
                    error: function () { alert('Error loading PHP document'); },
                    success: function (result) {

                        for (items in result) {
                            $("#" + items).val(result[items]);
                        }
                        $('#UserTableName').attr('readonly', true);
                    }
                });

            }
            //实现直接删除数据和伪删除数据的方法
            function deleteInfo(not) {
                //得到按钮选择的数据的ID
                var rows = $("#dg").datagrid("getSelections");
                //首先判断按钮是否已经选择了需要删除的数据,然后循环将按钮选择的数据传递到后台
                if (rows.length >= 1) {
                    //遍历出按钮选择的数据的信息，这就是按钮按钮选择删除的按钮ID的信息
                    var ids = "";   //1,2,3,4,5
                    for (var i = 0; i < rows.length; i++) {
                        //异步将删除的ID发送到后台，后台删除之后，返回前台，前台刷洗表格
                        ids += + ",";
                    }
                    addTab('录入列', BaseUrl + 'ListAdd?ID=' + rows[0].ID, '');

                }

            }
            function SearchGo() {
                DataBaseFunction.Search("fSearh", "dg");
                //                $("#Div_Searh").dialog('close');
            }

            //            function LooKInfo(not) {
            //                //得到按钮选择的数据的ID
            //                var rows = $("#dg").datagrid("getSelections");
            //                //首先判断按钮是否已经选择了需要删除的数据,然后循环将按钮选择的数据传递到后台
            //                if (rows.length >= 1) {
            //                    //遍历出按钮选择的数据的信息，这就是按钮按钮选择删除的按钮ID的信息
            //                    var ids = "";   //1,2,3,4,5
            //                    for (var i = 0; i < rows.length; i++) {
            //                        //异步将删除的ID发送到后台，后台删除之后，返回前台，前台刷洗表格
            //                        ids += + ",";
            //                    }
            //                    addTab('录入数据', BaseUrl + 'IndexDynamicColumnByUser?ID=' + rows[0].ID, '');
            //
            //                }
            //
            //            }
        </script>
    }
</head>
<body>
  <div style="text-align:left; padding: 10px 10px 10px 10px;">
     
      <form id="fSearh">
         <table class="stripes" style="  margin: 0 auto; width: 100%;" border="0" cellspacing="0" cellpadding="0">  <tr>
         

              <td style="text-align:right;">
                         模板选择：</td>
                       <td  >
                         <input class="easyui-combobox" id="ChineseName" name="CategoryTableID_eq"
                   data-options="valueField:'ID',textField:'ChineseName'">
                    </td>
              
                    <td style="text-align:right;">
                       录入时间（注：只能查大于某个时间段）：</td>
                    <td  >
                       
                        <input id="dd" type="text" class="easyui-datebox"    name="CreateDate_ge"  style="width:200px">
                      
                    </td>

                
@*                    <td>*@
@*                        <label>职务：</label></td>*@
@*                    <td>*@
@*                        <input type="text" class="textbox" name="Duties_like" style="width: 200px;" />*@
@*                    </td>*@
@*                *@
@*                    <td>*@
@*                        <label>单位：</label></td>*@
@*                    <td>*@
@*                        <input type="text" class="textbox" name="Units_like" style="width: 200px;" />*@
@*                    </td>*@
@*                  *@
@*                    <td>*@
@*                        <label>状态：</label></td>*@
@*                    <td>*@
@*                        <input id="States_eq" class="easyui-combobox" name="States_eq"*@
@*                            data-options="valueField:'ItemValue',textField:'ItemName'" />*@
@**@
@*                    </td>*@
                
          

      
        <td >
           <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo"  onclick=" DataBaseFunction.ClearForm('fSearh');  $('#dg').datagrid('load', {
            sqlSet:''});">清除</a>
            <a href="javascript:void(0)" class="easyui-linkbutton"  iconcls="icon-search" onclick="SearchGo();">搜索</a>
@*            <a href="javascript:void(0)" class="easyui-linkbutton" style="float: right;" iconcls="icon-cancel" onclick="$('#Div_Searh').dialog('close')">高级查询</a>*@
          
        </td> 
 
                                                                                                                    </tr> </table> </form>

        </div>  
    <div id="body">
    <table id="dg"></table>

    @*        <table id="dg3"></table>*@
</div>
   




  
</body>
</html>
